{% extends "bootstrap/base.html" %}

{% block title %}
Mitsein
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
  <a href="/"><img src="static/images/bug_logo.jpeg" style="width:55px;height:70px;margin-top:20px;margin-left:-10px;" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="navbar-content">
      <li class="nav-item">
        <a class="nav-link " href="/about_us" role="button">
          About us
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link " href="/stockexchange" role="button">
          Partners
        </a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link " href="/contact_us" role="button">
          Contact us
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid page">
    <div id="user_details">
      <h2 align="center">Name: {{ current_user.name }}</h2>
      <h2 align="center">Wallet address: {{ current_user.wallet_address }}</h2>
    </div>
    <a id="create_wallet_button" class="nav-link " href="/wallet/new" role="button">
      Create Wallet
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}