#news_page_div{
}

#title_news{
	padding-top: 30px;
	font-size: 5em;
	color: #808080;
}

.div_news{
	color:#808080;
	border: 2px solid #000;
	margin-left: 20px;
	margin-right:20px;
	padding: 30px;
}

#news_date{
	
}

#news_title{
}