#grants_page{
	background-color: #A594F9;
}

#title_grants{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 5.3em;
	color: #EBF15E;
}

.div_grants{
	color:#808080;
	border: 0.5px solid #000;
	margin-left: 10%;
	padding: 30px;
	background-color: white;
	width: 80%;
}

#grant_date{
	font-size: 2em;
	color: #CA3CFF;
	
}

#grant_title{
}

form {
	width: 550px;
	height: 450px;
	margin: auto;
	position: relative;
}

input {
	width: 375px;
	height: 25px;
}