@media only screen and (max-width: 400px) and (min-width: 200px){
	.nav_link_homepage{
		color: #303030;
		font-size: 1em;
		font-weight: bolder;
	}

	#nav_section_homepage{
		width: 100vmin;
		float:right;
	}


	#logo_img{
		display: flex;
	  	height: 10px;
	  	width: 10px;
	}

	#myCarousel{
		height:460px;
		margin-top:-10px;
		display:none;
	}

	.carousel-caption{
		float:left;
	}

	.carousel-text{
		font-size: 4.5em;
		color: #676767;
		padding-bottom: 4%;
		text-shadow: none;
	}

	#articulo_innombrables{
		color: black;
		text-decoration: none;
	}

	#articulo_innombrables:hover{
		text-decoration: none;
	}

	#welcome_homepage_div{
		background-color: white;
		height: 80vh;
	}

	#bug_title_logo {
		margin: auto;
		margin-right: 9%;
	}

	#bug_image_logo{
		width:110%;
		height: 110%;
		margin-left: auto;
  		margin-right: auto;
  		margin-bottom: 20px;
  		display: block;
	}

	#services_div{
		background-color: #EBF15E;
		height: 720px;
		width: 100%;
		display: block;
		margin-bottom: -500px;
		margin-top: -20px;
		padding-right: -20px;
	}

	#title_network{
		padding-top: 20px;
		font-size: 4.4em;
		color: #676767;
	}

	.title_service_link{
		color: #A594F9;
	}

	.title_service_link:hover{
		color: #A9A9A9;
		text-decoration: none;
	}

	.title_service{
		font-size: 2.5em;
	}

	.grid_item{
		margin: 10px;
		padding: 50px;
		border: 0px solid #000;
		border-radius: 15px;
		height: 270px;
		background-color: rgba(255,255,255, 0.2);
	}

	.icon_services{
		margin: auto;
		display: block;
	}

	.texto_service{
		color: #676767;
		font-size: 1.3em;
	}

	#foto_carousel{
		background-color: black;
		height: 200px;
	}

	#homepage_description{
		margin-top: 470px;
		margin-bottom: -380px;
		height: 300px;
		width: 65%;
		margin-left: 18%;
		padding-top: 80px;
		color: #676767;
	}

	.homepage_description_text{
		font-size: 2rem;
		font-weight: bolder;
	}

	#founder_homepage{
		display: none;
		margin-top: 500px;
		height: 600px;
		position: relative;
		background-color: #303030;
	}

	#image_founder{
		border-radius: 20%;
		height: 200px;
		width:190px;
	}

	#founder_name{
		color:white;
		font-size: 3em;
	}

	#type_founder_homepage{
		color:#A9A9A9;
		font-size: 2.2em;
	}


	.text_founder_homepage{
		margin-top: 50px;
		margin-left: 30px;
		color:white;
		font-size: 2em;
	}

	#founder_wrapper{
		padding-top: 150px;
	}

	#block_picture_founder{
		margin-left: 27vw;

	}

	#block_founder_details{
		flex: 1;
		overflow: hidden;
	}

	#social_media_homepage{
		float:right;
		font-size: 5rem; 
		margin-right:30vw; 
		margin-top: 10px;
	}

	#footer_website{
		background-color:  #303030;
		height: 200px;
		display: block;
		position: absolute;
		margin-top:70vh;
		width:100%;
	}

	#social_media_footer{
		display: block;
		position: absolute;
		left: 32%;
		top: 8%;
		font-size: 7rem;
		color: ;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:72%;
		left: 6%;
	}
}

@media only screen and (max-width: 800px) and (min-width: 400px){
	.nav_link_homepage{
		color: #303030;
		font-size: 1em;
		font-weight: bolder;
	}

	#nav_section_homepage{
		width: 100vmin;
		float:right;
		display: block;
		position: absolute;
		display:none;
		top: 70%;
	}

	#logo_img{
		display: flex;
	  	height: 10px;
	  	width: 10px;
	}

	#myCarousel{
		height:460px;
		margin-top:-10px;
		display:none;
	}

	.carousel-caption{
		float:left;
		margin-left: 550px;
		margin-bottom: 60px;
		width:500px;
	}

	.carousel-text{
		font-size: 4.5em;
		color: #676767;
		padding-bottom: 4%;
		text-shadow: none;
	}

	#welcome_homepage_div{
		background-color: white;
		height: 97vh;
	}


	#bug_title_logo {
		margin: auto;
		padding-right: 7%;
	}

	#bug_image_logo{
		margin-left: auto;
  		margin-right: auto;
  		display: block;
  		margin-right: 7%;
	}

	#services_div{
		background-color: #EBF15E;
		background-size: 1700px 900px;
		height: 720px;
		display: block;
		position: relative;
		margin-bottom: -500px;
		margin-top: -20px;
	}

	#title_network{
		padding-top: 20px;
		font-size: 4.4em;
		color: #676767;
	}

	.title_service_link{
		color: #A594F9;
	}

	.title_service_link:hover{
		color: #A9A9A9;
		text-decoration: none;
	}

	.title_service{
		font-size: 2.5em;
	}

	.grid_item{
		margin: 20px;
		padding: 50px;
		border: 0px solid #000;
		border-radius: 15px;
		height: 270px;
		background-color: rgba(255,255,255, 0.2);
	}

	.icon_services{
		margin: auto;
		display: block;
	}

	.texto_service{
		color: #676767;
		font-size: 1.5em;
	}

	#foto_carousel{
		background-color: black;
		height: 200px;
	}

	#homepage_description{
		margin-top: 470px;
		margin-bottom: -400px;
		height: 300px;
		width: 65%;
		margin-left: 18%;
		padding-top: 80px;
		color: #676767;
	}

	.homepage_description_text{
		font-size: 2.4rem;
		font-weight: bolder;
	}

	#founder_homepage{
		margin-top: 500px;
		height: 600px;
		display:none;
		position: relative;
		background-color: #303030;
	}

	#image_founder{
		border-radius: 20%;
		height: 180px;
		width:190px;
	}

	#founder_name{
		color:white;
		font-size: 3em;
	}

	#type_founder_homepage{
		color:#A9A9A9;
		font-size: 2.2em;
	}


	.text_founder_homepage{
		margin-top: 50px;
		margin-left: 30px;
		color:white;
		font-size: 2em;
	}

	#founder_wrapper{
		padding-top: 150px;
	}

	#block_picture_founder{
		margin-left: 27vw;

	}

	#block_founder_details{
		flex: 1;
		overflow: hidden;
	}
	
	#social_media_homepage{
		float:right;
		font-size: 5rem; 
		margin-right:30vw; 
		margin-top: 10px;
	}

	#footer_website{
		background-color:  #303030;
		height: 200px;
		display: block;
		position: absolute;
		margin-top: 60vh;
		width:100%;
	}

	#social_media_footer{
		display: block;
		position: absolute;
		left: 36%;
		top: 8%;
		font-size: 7rem;
		color: 
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:70%;
		left: 6%;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 801px){
	#complete_homepage{
		background-color: white;
		height: 95vh;
	}

	.nav_link_homepage{
		color: #303030;
		font-size: 0.8em;
		font-weight: bolder;
	}


	#nav_section_homepage{
		top: 80%;
		left:22%;
		display: block;
		position: absolute;
	}


	#logo_img{
		display: flex;
	  	height: 10px;
	  	width: 10px;
	}

	#myCarousel{
		display:none;
		height:460px;
		margin-top:-10px;
	}

	.carousel-caption{
		float:left;
		margin-left: 550px;
		margin-bottom: 60px;
		width:500px;
	}

	.carousel-text{
		font-size: 4.5em;
		color: #676767;
		padding-bottom: 4%;
		text-shadow: none;
	}

	#welcome_homepage_div{
		background-color: white;
		height: 97vh;
	}

	#bug_title_logo {
		margin: auto;
	}

	#bug_image_logo{
		margin-left: auto;
  		margin-right: auto;
  		display: block;
	}

	#services_div{
		background-color: #EBF15E;
		background-size: 1700px 900px;
		height: 720px;
		display: block;
		position: relative;
		margin-bottom: -500px;
		margin-top: -20px;
	}

	#title_network{
		padding-top: 20px;
		font-size: 5.7em;
		color: #676767;
	}

	.title_service_link{
		color: #A594F9;
	}

	.title_service_link:hover{
		color: #A9A9A9;
		text-decoration: none;
	}

	.title_service{
		font-size: 4.7em;
	}

	.grid_item{
		margin: 20px;
		padding: 50px;
		border: 0px solid #000;
		border-radius: 15px;
		height: 270px;
		background-color: rgba(255,255,255, 0.2);
	}

	.icon_services{
		margin: auto;
		display: block;
	}

	.texto_service{
		color: #676767;
		font-size: 2.5em;
	}

	#foto_carousel{
		background-color: black;
		height: 200px;
	}

	#homepage_description{
		margin-top: 470px;
		margin-bottom: -400px;
		height: 300px;
		width: 65%;
		margin-left: 18%;
		padding-top: 140px;
		color: #676767;
	}

	.homepage_description_text{
		font-size: 3.5rem;
		font-weight: bolder;
	}

	#founder_homepage{
		margin-top: 500px;
		height: 600px;
		display:none;
		position: relative;
		background-color: #303030;
	}

	#image_founder{
		margin-left:50%;
		margin-top: -20px;
		border-radius: 20%;
		height: 440px;
		width:390px;
	}

	#founder_name{
		margin-left: 10vw;
		margin-top: 50px;
		color:white;
		font-size: 5em;
	}

	#type_founder_homepage{
		color:#A9A9A9;
		font-size: 2.6em;
		margin-left: 2vw;
	}


	.text_founder_homepage{
		margin-top: 50px;
		margin-left: 30px;
		color:white;
		font-size: 2em;
	}

	#founder_wrapper{
		padding-top: 150px;
	}

	#block_picture_founder{
		margin-left: 10vw;
		float: left;

	}

	#block_founder_details{
		margin-left: 10vw;
		flex: 1;
		overflow: hidden;
	}

	#social_media_homepage{
		float:right;
		font-size: 5rem; 
		margin-right:30vw; 
		margin-top: 10px;
	}

	#footer_website{
		background-color:  #303030;
		height: 200px;
		display: block;
		position: absolute;
		margin-top: 80vh;
		width:100%;
	}

	#social_media_footer{
		display: block;
		position: absolute;
		left: 45%;
		top: 8%;
		font-size: 7rem;
		color: 
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:80%;
		left: 6%;
	}

}
@media only screen and (min-width: 1200px){
	#complete_homepage{
		background-color: white;
		height: 95vh;
	}

	.nav_link_homepage{
		color: #303030;
		font-size: 1em;
		font-weight: bold;
	}

	#nav_section_homepage{
		top: 80%;
		left:42%;
		display: block;
		position: absolute;
	}

	#bug_image_logo{
		margin-left: auto;
  		margin-right: auto;
  		display: block;
	}

	#logo_img{
		display: flex;
	  	height: 10px;
	  	width: 10px;
	}

	#myCarousel{
		height:460px;
		margin-top:-20px;
		background-color: #303030;
	}

	.carousel-control {
	  background-color: transparent;
	}
	.carousel-caption{
		float:left;
		display: block;
		position: absolute;
		margin-left: 40vw;
		margin-bottom: 18vh;
		width:500px;
	}

	.carousel-text{
		font-size: 4.5em;
		color: white;
		padding-bottom: -6%;
		text-shadow: none;
	}

	#welcome_homepage_div{
		background-color: white;
		height: 97vh;
	}

	#bug_title_logo {
		margin: auto;
	}

	#bug_image_logo{
		margin-left: auto;
  		margin-right: auto;
  		display: block;
  		width:40%;
		height: 40%;
	}

	#services_div{
		background-color: #EBF15E;
		background-size: 1700px 900px;
		height: 720px;
		display: block;
		position: relative;
		margin-bottom: -500px;
		margin-top: -20px;
	}
 
	#title_network{
		padding-top: 20px;
		font-size: 5.7em;
		color: #676767;
	}

	.title_service_link{
		color: #A594F9;
	}

	.title_service_link:hover{
		color: #A9A9A9;
		text-decoration: none;
	}

	.title_service{
		font-size: 4.7em;
	}

	.grid_item{
		margin: 20px;
		padding: 50px;
		border: 0px solid #000;
		border-radius: 15px;
		height: 270px;
		background-color: rgba(255,255,255, 0.2);
	}

	.icon_services{
		margin: auto;
		display: block;
	}

	.texto_service{
		color: #676767;
		font-size: 2.5em;
	}

	#foto_carousel{
		background-color: black;
		height: 200px;
	}

	#homepage_description{
		display: block;
		position: absolute;
		margin-top: 470px;
		height: 60vh;
		width: 65%;
		margin-left: 18%;
		padding-top: 26vh;
		color: #676767;
	}

	.homepage_description_text{
			font-size: 3.5rem;
			font-weight: bolder;
		}

	#founder_homepage{
		margin-top: 500px;
		height: 600px;
		display:none;
		position: relative;
		background-color: #303030;
	}

	#image_founder{
		margin-left:50%;
		margin-top: -20px;
		border-radius: 20%;
		height: 440px;
		width:390px;
	}

	#founder_name{
		margin-left: 10vw;
		margin-top: 50px;
		color:white;
		font-size: 5em;
	}

	#type_founder_homepage{
		color:#A9A9A9;
		font-size: 2.6em;
		margin-left: 2vw;
	}


	.text_founder_homepage{
		margin-top: 50px;
		margin-left: 30px;
		color:white;
		font-size: 2em;
	}

	#founder_wrapper{
		padding-top: 150px;
	}

	#block_picture_founder{
		margin-left: 10vw;
		float: left;

	}

	#block_founder_details{
		margin-left: 10vw;
		flex: 1;
		overflow: hidden;
	}

	#social_media_homepage{
		float:right;
		font-size: 5rem; 
		margin-right:30vw; 
		margin-top: 10px;
	}

	#footer_website{
		background-color:  #303030;
		height: 200px;
		display: block;
		position: absolute;
		margin-top: 130vh;
		width:100%;
	}

	#social_media_footer{
		display: block;
		position: absolute;
		left: 45%;
		top: 8%;
		font-size: 7rem;
		color: 
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:80%;
		left: 6%;
	}


}



