@media only screen and (max-width: 400px) and (min-width: 200px){
	#matching_description{
		height: 60vh;
		top:40%;
		height: 80vh;
		background-color: #65655E;
	}

	.matching_description_text{
		padding-top: 20vh;
		font-size: 2rem;
		font-weight: bolder;
		color: white;
		}

	#div_contact_form{
		height:500px;
		padding:10vh;
		margin-bottom: -40%;
	}

	#escribenos_titulo{
		font-size: 4em;
	}

	#social_media_footer{
		left:10%;
		top: 8%;
		font-size: 2rem;
		color: black ;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:72%;
		left: 6%;
	}

}

@media only screen and (max-width: 800px) and (min-width: 400px){
	#matching_description{
		height: 60vh;
		top:40%;
		height: 77vh;
		background-color: #65655E;
	}

	.matching_description_text{
		padding-top: 20vh;
		font-size: 3rem;
		font-weight: bolder;
		color: white;
		}

	#div_contact_form{
		height:500px;
		padding:10vh;
		margin-bottom: -20%;
	}

	#escribenos_titulo{
		font-size: 4em;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:60%;
		left: 6%;
	}

}

@media only screen and (max-width: 1200px) and (min-width: 801px){
	#matching_description{
		height: 60vh;
		top:40%;
		height: 77vh;
		background-color: #65655E;
	}

	.matching_description_text{
		padding-top: 24vh;
		font-size: 5.4rem;
		font-weight: bolder;
		color: white;
		}

	#div_contact_form{
		height:500px;
		padding:20vh;
	}

	#escribenos_titulo{
		font-size: 4em;
	}


}
@media only screen and (min-width: 1200px){
	#matching_description{
		height: 60vh;
		top:40%;
		height: 77vh;
		background-color: #65655E;
	}

	.matching_description_text{
		padding-top: 24vh;
		font-size: 5.4rem;
		font-weight: bolder;
		color: white;
		}

	#div_contact_form{
		height:500px;
		padding:20vh;
	}

	#escribenos_titulo{
		font-size: 4em;
}


}


