#matching_description{
	height: 60vh;
	top:40%;
	height: 70vh;
	background-color: #65655E;
	}

.matching_description_text{
	padding-top: 24vh;
	font-size: 5.4rem;
	font-weight: bolder;
	color: white;
	}