@media only screen and (max-width: 400px) and (min-width: 200px){
	#form_signup{

	}

	#signup_title{
		font-size: 3em;
	}

	#footer_website{
		margin-top: 21vh;
	}

	#social_media_footer{
		left:10%;
		top: 8%;
		font-size: 2rem;
		color: black ;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:72%;
		left: 6%;
	}
}

@media only screen and (max-width: 800px) and (min-width: 400px){
	#form_signup{

	}

	#signup_title{
		font-size: 3em;
	}

	#footer_website{
		margin-top: 21vh;
	}

	#social_media_footer{
		left:10%;
		top: 8%;
		font-size: 2rem;
		color: black ;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:72%;
		left: 6%;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 801px){
	#form_signup{

	}

	#signup_title{
		font-size: 3em;
	}

	#footer_website{
		margin-top: 21vh;
	}

	#social_media_footer{
		left:10%;
		top: 8%;
		font-size: 2rem;
		color: black ;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:72%;
		left: 6%;
	}

}
@media only screen and (min-width: 1200px){
	#form_signup{

	}

	#signup_title{
		font-size: 3em;
	}

	#footer_website{
		margin-top: 21vh;
	}

	#social_media_footer{
		left:10%;
		top: 8%;
		font-size: 2rem;
		color: black ;
	}

	#rights_reserved{
		color:white;
		font-size: 2em;
		display: block;
		position: absolute;
		top:72%;
		left: 6%;
	}


}


