{% extends "bootstrap/base.html" %}

{% block title %}
BUG
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% include "header.html" %}

{% block content %}
<div>
  <h1 align="center" style="font-size: 5rem;">Nosotros</h1>
  <div id="founder_about_us">
    <div id="founder_wrapper">
      <div id="block_picture_founder">
        <img src="static/images/founder_img.jpg"  id="image_founder" alt="Avatar"/>
      </div>
      <div id="block_founder_details">
        <h1 id="founder_name" align="center">Mónica Seguel</h1>
        <h3 id="type_founder_about_us" align="center"><b>Fundadora y CEO</b></h3>
        <p class ="details_founders">Mónica es psicóloga, escritora, diseñadora y empresaria.</p>
      </div>
    </div>
    <div id="social_media_about_us" style="font-size: 5rem; margin-right:470px; margin-top: 10px;">
      <a href="https://cl.linkedin.com/in/m%C3%B3nica-seguel-73b1a198" class="fa fa-linkedin fa-7x"> </a>
      <a href="mailto:monicaseguel@bug-network.com" > <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg></a>
    </div>
  </div>
  <div id="cto_about_us">
    <div id="founder_wrapper">
      <div id="block_picture_founder">
        <img src="static/images/cto_img.png"   id="image_cto" align="center" alt="Avatar"/>
      </div>
      <div id="block_founder_details">
        <h1 id="cto_name" align="center">Matías Mingo</h1>
        <h3 id="type_cto_about_us" align="center"><b>Co-Fundador y CTO</b></h3>
        <p class ="details_founders" >Matías es un programador apasionado.</p>
      </div>
    </div>
    <div id="social_media_about_us" style="font-size: 5rem; margin-right:470px; margin-top: 10px;">
      <a href="mailto:matias.mingo@gmail.com" > <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg></a>
    </div>
  </div>
</div>
<div id="footer_website">
  <div id="social_media_footer">
    <a href="https://cl.linkedin.com/company/bug-creative-industry-network?trk=public_profile_topcard_current_company" class="fa fa-linkedin fa-7x"> </a>
    <a href="https://www.facebook.com/BUG-Creative-Industry-Network-112238110593968" class="fa fa-facebook fa-7x"> </a>
  </div>  
  <h5 id="rights_reserved">Derechos reservados BUG Creative Industry Network ©</h5>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}