{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<div id="bug_title_logo">
    <img id="bug_image_logo" src="static/images/homepage_logo.png" />
  </div>
  <br>
  <div id="nav_section_homepage">
    <nav class="navbar navbar-expand-sm" id="navbar_homepage">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="navbar-content">
          <li class="nav-item">
            <a class="nav-link nav_link_homepage"  href="/about_us" role="button">
              Nosotros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_homepage"  href="/contact_us" role="button">
              Contáctanos
            </a>
          </li>
          {% if not session['logged_in'] %}
            <li class="nav-item">
              <a class="nav-link nav_link_homepage"  href="/signup" role="button">
                Regístrate
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/login" role="button">
                Ingresa
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/profile" role="button">
                Perfil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/logout" role="button">
                Salir
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
{% endblock %}