{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
BUG
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
  <a href="/"><img src="static/images/bug_logo.png" style="width:87px;height:100px;margin-top:20px;margin-left:-10px;" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="navbar-content">
      <li class="nav-item">
        <a class="nav-link " href="/about_us" role="button">
          Nosotros
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link " href="/stockexchange" role="button">
          Partners
        </a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link " href="/contact_us" role="button">
          Contáctanos
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	<form id="form_login" method="POST" action="/login">
		<h2 id="title_login">Ingresa a tu cuenta BUG</h2>
	    {{ form.hidden_tag() }}
	    {{ wtf.form_field(form.email) }}
	    {{ wtf.form_field(form.password) }}
	    {{ wtf.form_field(form.remember) }}
	  <button type="submit" class="btn btn-primary">Entra</button>
    <a href="/signup">O regístrate</a>
	</form>
</div>
<div id="footer_website">
  <div id="social_media_footer">
    <a href="https://cl.linkedin.com/company/bug-creative-industry-network?trk=public_profile_topcard_current_company" class="fa fa-linkedin fa-7x"> </a>
    <a href="" class="fa fa-facebook fa-7x"> </a>
  </div>  
  <h5 id="rights_reserved">Derechos reservados BUG Creative Industry Network ©</h5>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
{% endblock %}