{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
BUG
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/matching.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<div>
  <nav class="navbar navbar-expand-lg">
    <a href="/"><img src="static/images/bug_logo.png" style="width:87px;height:100px;margin-top:20px;margin-left:-10px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="navbar-content">
          <li class="nav-item">
            <a class="nav-link nav_link_homepage"  href="/about_us" role="button">
              Nosotros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_homepage"  href="/contact_us" role="button">
              Contáctanos
            </a>
          </li>
          {% if not session['logged_in'] %}
            <li class="nav-item">
              <a class="nav-link nav_link_homepage"  href="/signup" role="button">
                Regístrate
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/login" role="button">
                Ingresa
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/profile" role="button">
                Perfil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/logout" role="button">
                Salir
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
  </nav>
</div>
{% endblock %}
 
{% block content %}
<div id="matching_description">
  <h1 align="center" class="matching_description_text"><b>Nos encargamos de hacer el nexo con agrupaciones y asociaciones de industrias tradicionales para hacer un intercambio dinámico entre servicios creativos y fondos privados.</b></h1>
</div>
<div class="container" id="div_contact_form">
  <form class="form-contact" method="POST" action="/matching">
    <h2 id="escribenos_titulo">Escríbenos</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.text) }}
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
<div id="footer_website">
  <div id="social_media_footer">
    <a href="https://cl.linkedin.com/company/bug-creative-industry-network?trk=public_profile_topcard_current_company" class="fa fa-linkedin fa-7x"> </a>
    <a href="https://www.facebook.com/BUG-Creative-Industry-Network-112238110593968" class="fa fa-facebook fa-7x"> </a>
  </div>  
  <h5 id="rights_reserved">Derechos reservados BUG Creative Industry Network ©</h5>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}