{% extends "bootstrap/base.html" %}

{% block title %}
BUG
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<div id="main_page">
  <nav class="navbar navbar-expand-lg">
    <a href="/"><img src="static/images/bug_logo.png" style="width:87px;height:100px;margin-top:20px;margin-left:-10px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="navbar-content">
          <li class="nav-item">
            <a class="nav-link nav_link_homepage"  href="/about_us" role="button">
              Nosotros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_link_homepage"  href="/contact_us" role="button">
              Contáctanos
            </a>
          </li>
          {% if not session['logged_in'] %}
            <li class="nav-item">
              <a class="nav-link nav_link_homepage"  href="/signup" role="button">
                Regístrate
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/login" role="button">
                Ingresa
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/profile" role="button">
                Perfil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link_homepage" href="/logout" role="button">
                Salir
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
  </nav>
{% endblock %}

{% block content %}
<div >
  <br>
  <br>
  <br>
  <br>
  <h1 align="center">Esta página esta en desarrollo</h1>
  <svg width="5em" height="5em" class="hammer_icon" viewBox="0 0 16 16" class="bi bi-hammer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.812 1.952a.5.5 0 0 1-.312.89c-1.671 0-2.852.596-3.616 1.185L4.857 5.073V6.21a.5.5 0 0 1-.146.354L3.425 7.853a.5.5 0 0 1-.708 0L.146 5.274a.5.5 0 0 1 0-.706l1.286-1.29a.5.5 0 0 1 .354-.146H2.84C4.505 1.228 6.216.862 7.557 1.04a5.009 5.009 0 0 1 2.077.782l.178.129z"/>
    <path fill-rule="evenodd" d="M6.012 3.5a.5.5 0 0 1 .359.165l9.146 8.646A.5.5 0 0 1 15.5 13L14 14.5a.5.5 0 0 1-.756-.056L4.598 5.297a.5.5 0 0 1 .048-.65l1-1a.5.5 0 0 1 .366-.147z"/>
  </svg>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<div id="footer_website">
  <div id="social_media_footer">
    <a href="https://cl.linkedin.com/company/bug-creative-industry-network?trk=public_profile_topcard_current_company" class="fa fa-linkedin fa-7x"> </a>
    <a href="" class="fa fa-facebook fa-7x"> </a>
  </div>  
  <h5 id="rights_reserved">Derechos reservados BUG Creative Industry Network ©</h5>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}